name: dummymart
description: "An example Flutter project that uses Riverpod, go_router, flutter_hooks, and Freezed."
publish_to: "none"
version: 1.2.1

environment:
  sdk: ">=3.4.0 <4.0.0"

dependencies:
  dio: ^5.8.0+1
  flextras: ^1.0.0
  flutter:
    sdk: flutter
  flutter_hooks: ^0.20.5
  flutter_native_splash: ^2.4.5
  flutter_secure_storage: ^9.2.4
  flutter_use: ^0.0.4
  freezed_annotation: ^2.4.4
  gap: ^3.0.1
  go_router: ^14.8.0
  hooks_riverpod: ^2.6.1
  json_annotation: ^4.9.0
  riverpod_annotation: ^2.6.1
  shared_preferences: ^2.5.2

dev_dependencies:
  build_runner: ^2.4.15
  custom_lint: ^0.7.3
  flutter_launcher_icons: ^0.14.3
  flutter_lints: ^4.0.0
  flutter_test:
    sdk: flutter
  freezed: ^2.5.8
  husky: ^0.1.7
  json_serializable: ^6.9.4
  lint_staged: ^0.5.1
  riverpod_generator: ^2.6.4
  riverpod_lint: ^2.6.4
  shared_preferences_platform_interface: ^2.4.1
  test: ^1.25.15

flutter:
  uses-material-design: true

flutter_native_splash:
  color: "#FFFFFF"
  image: assets/images/splash.png
  android_12:
    icon_background_color: "#FFFFFF"
    image: assets/images/splash-android-12.png

flutter_launcher_icons:
  android: true
  ios: true
  image_path: assets/images/launcher.png
  adaptive_icon_background: "#FFFFFF"
  adaptive_icon_foreground: assets/images/launcher-fg.png

lint_staged:
  "{lib,test}/**.dart": dart format
