name: dummymart
description: "An example Flutter project that uses Riverpod, go_router, flutter_hooks, and Freezed."
publish_to: "none"
version: 1.2.1

environment:
  sdk: ">=3.5.0-152 <4.0.0"

dependencies:
  data_class_macro: ^0.0.0-dev.12
  dio: ^5.4.3
  flextras: ^1.0.0
  flutter:
    sdk: flutter
  flutter_hooks: ^0.20.5
  flutter_native_splash: ^2.4.0
  flutter_secure_storage: ^9.2.2
  flutter_use: ^0.0.4
  gap: ^3.0.1
  go_router: ^14.1.2
  hooks_riverpod: ^2.5.1
  json: ^0.20.1
  json_annotation: ^4.9.0
  riverpod_annotation: ^2.3.5
  shared_preferences: ^2.2.3

dev_dependencies:
  build_runner: ^2.4.10
  custom_lint: ^0.6.4
  flutter_launcher_icons: ^0.13.1
  flutter_lints: ^4.0.0
  flutter_test:
    sdk: flutter
  husky: ^0.1.7
  lint_staged: ^0.5.1
  riverpod_generator: ^2.4.0
  riverpod_lint: ^2.3.10
  test: ^1.24.9

flutter:
  uses-material-design: true

flutter_native_splash:
  color: "#FFFFFF"
  image: assets/images/splash.png
  android_12:
    icon_background_color: "#FFFFFF"
    image: assets/images/splash-android-12.png

flutter_launcher_icons:
  android: true
  ios: true
  image_path: assets/images/launcher.png
  adaptive_icon_background: "#FFFFFF"
  adaptive_icon_foreground: assets/images/launcher-fg.png

lint_staged:
  "{lib,test}/**.dart": dart format --fix
